body {
    background: rgb(255,231,199);
background: linear-gradient(307deg, rgba(255,231,199,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header h1 {
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
}

.input-group {
    box-shadow: 0 4px 8px rgba(234, 1, 1, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

#task-list {
    margin-top: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: darkkhaki;
    color: w;
}

footer {
    color: black;
    width: 100%;

    bottom: 0;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #e9ecef;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

footer p {
    margin: 0;
}
